<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .cointer {
            height: 600px;
            width: 100%;
            border: 2px solid black;
            border-radius: 50px;

            background-color: rgb(112, 110, 110);
        }

        h1 {
            margin: 50px;
        }

        h3 {
            margin: 50px;
        }

        p {
            margin: 50px;
        }
    </style>
</head>

<body>
    <div class="cointer">
        <h1>Welcome</h1>
        <h3>Just a demo</h3>
        <h3>benefits of gym</h3>
        <p>Physical exercise is important for maintaining physical fitness and can contribute to maintaining a healthy
            weight, regulating the digestive system, building and maintaining healthy bone density, muscle strength,
            and joint mobility, promoting physiological well-being, reducing surgical risks,Physical exercises are
            generally grouped into three types, depending on the overall effect they have on the human body:[6]

            Aerobic exercise is any physical activity that uses large muscle groups and causes the body to use more
            oxygen than it would while resting.[6] The goal of aerobic exercise is to increase cardiovascular
            endurance.[7] Examples of aerobic exercise include running, cycling, swimming, brisk walking, skipping rope,
            rowing, hiking, dancing, playing tennis, continuous training, and long distance running.[6]
            Anaerobic exercise, which includes strength and resistance training, can firm, strengthen, and increase
            muscle mass, as well as improve bone density, balance, and coordination.[6] Examples of strength exercises
            are push-ups, pull-ups, lunges, squats, bench press. Anaerobic exercise also includes weight training,
            functional training, eccentric training, interval training, sprinting, and high-intensity interval training
            which increase short-term muscle strength.[6][8]
            Flexibility exercises stretch and lengthen muscles.[6] Activities such as stretching help to improve joint
            flexibility and keep muscles limber.[6] The goal is to improve the range of motion which can reduce the
            chance of injury.[6][9]
            Physical exercise can also include training that focuses on accuracy, agility, power, and speed.[10]

            Types of exercise can also be classified as dynamic or static. 'Dynamic' exercises such as steady running,
            tend to produce a lowering of the diastolic blood pressure during exercise, due to the improved blood flow.
            Conversely, static exercise (such as weight-lifting) can cause the systolic pressure to rise significantly,
            albeit transiently, during the performance of the exercise</p>

    </div>

</body>

</html>